* {
    box-sizing: border-box;
    padding: 0.2em;
}

/*
The span element should inherit the border-box box-sizing but
overwrite the border colour.
 */
span{
    display: block;
    border: 2px solid blue;
}

/*
All children should then inherit the inline trait.
 */

ul{
    display: inline-flex;
    border: 2px solid purple;
    list-style: none; 
}

li{
    border: 2px solid blue;
}

p{
    border: 2px solid purple;
}

p, ul{
    width: fit-content;
}